<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面-博客后台管理系统</title>
    <link rel="stylesheet" href="/blog/public/static/admin/bs/css/bootstrap.min.css">
    <script src="/blog/public/static/admin/bs/js/jquery.min.js"></script>
    <script src="/blog/public/static/admin/bs/js/bootstrap.min.js"></script>
    <style>
        .row {
            margin-top: 200px;
        }

        .input-group {
            margin: 10px 0;
            width: 100%;
            text-align: center;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        博客后台登录页面
                    </h3>
                </div>

                <div class="panel-body">
                    <form action="{:url('login/check')}" method="post">
                        <div class="input-group">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span></span>
                            <input type="text" name="password" class="form-control" placeholder="password">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-eye-close"></span></span>
                            <input type="text" name="code" class="form-control" placeholder="验证码" style="width: 169px">
                            <div><img src="{:captcha_src()}" alt="captcha" width="120px" height="34px" onclick="this.src=this.src+'?'" /></div>
                        </div>
                        <div class="input-group">
                            <input type="submit" value="提交" class="btn btn-sm btn-success">
                            &nbsp;
                            &nbsp;
                            <input type="reset" value="重置" class="btn btn-sm btn-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>